#char-target{
    display: flex;
    flex-direction: column;
    max-width: 15vw;
    min-width: 10vw ;
    aspect-ratio: 1/1;
    /*position: -webkit-sticky; /* Safari */
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(10, 10, 10, 50%);
    z-index: 5;
    border-radius: 10px;
    color: ghostwhite;
}

.target-portrait{
    flex: auto;
}

