:root{
    --background-gray : rgb(50, 50, 50);
    --background-dark : rgb(20, 20, 20);
    --text-color-white : ghostwhite;
}

*{
    background-color: var(--background-gray);
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

li{
    background-color: var(--background-dark);
    color: var(--text-color-white);
    padding: 16px 32px;
    border: 1px solid white;
    border-radius: 8px;
}

li:hover{
    cursor: pointer;
}

a:visited{
    color: var(--text-color-white);
}

a{
    text-decoration: none;
    background-color: var(--background-dark);
}