:root{
    --background-dark : rgb(20, 20, 20);
    --text-color-white : ghostwhite;
}

nav {
    background-color: var(--background-dark);
}

nav ul {
    list-style: none;
    display: flex;
}

.nav{
    color: var(--text-color-white);
    padding: 16px 32px;
    border-bottom: 5px inset var(--background-dark);
}

li:hover{
    cursor: pointer;
    border-bottom: 5px inset var(--text-color-white);
}

a:visited{
    color: var(--text-color-white);
}

a{
    text-decoration: none;
}